.container {
    display: flex;

}

.img_left {

    width: 40%;
}

.image {
    width: 100%;
}

.img_right {
    width: 60%;
    background-image: url("https://img.freepik.com/premium-vector/abstract-modern-white-grey-background-texture-chaotic-polygonal-surface-background-design_266639-1401.jpg?w=740");
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.input_box {
    border: 2px solid gray;
    display: flex;
    height: 40px;
    width: 300px;
    padding: 10px;
    border-radius: 0.3rem;

}

.input_item {
    border: none;
    margin: 8px;
    width: 250px;
    height: 20px;
    border: none;
    padding: 4px;
    color: black;
}

.input_num {
    font-weight: bold;
    margin-top: 8px;
    color: black;
}

.text {
    width: 85%;
    margin-top: 20px;
    text-align: center;
    color: grey;
}

.otp_btn {
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 0.4rem;
    cursor: pointer;
    cursor: pointer;
}

.resend {
    color: rgb(245, 121, 142);
}

.dotted_line {
    border-top: 1px dashed black;
    width: 85%;
    margin-top: 40px;
}