hr {
    background-color: white;
    border-color: white;
    color: white;
}
.footer_wrapper {
    background-color: black;
    color: white;
}

/* row 1  */
.footer_row1_image {
    margin: 10px auto;
    padding: 5px;
    z-index: 500;
}

.footer_row1_image > img {
    border-radius: 100px;
    border: 10px solid black;
    width: 150px;
    margin: -50px auto 10px auto;
    z-index: 500;
}

/* row 2 ----- only social media icons  */

.footer_row2_icons_wrapper {
    margin: 10px auto;
    width: 35%;
    padding: 10px;
    margin-top: -20px;
}

.footer_row2_icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

/* row 3 - stores, terms and conditions and faqs section  */

.footer_row3_conditions_wrapper {
    width: 60%;
    margin: auto;
    /* background-color: rebeccapurple; */
}
.footer_row3_conditions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 15px auto;
    font-size: large;
}

/* row 4 - get in touch setion  */

.fotter_row4_getintouch_wrapper {
    margin: 15px auto;
    text-transform: capitalize;
}

.fotter_row4_getintouch_title {
    font-size: x-large;
    text-align: left;
    width: 90%;
    margin: 10px auto;
}

.fotter_row4_getintouch_divs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    font-size: 1.1rem;
}

.fotter_row4_getintouch_textbox > h3 {
    color: white;
    text-align: left;
    margin-bottom: 13px;
}

.fotter_row4_getintouch_textbox > p {
    color: rgb(150, 150, 150);
    text-align: left;
    margin-bottom: 15px;
}

/* row 5 --------- get the app buttons*/

.footer_row5_btns_wrapper {
    margin: 1px auto;
    padding: 20px;
    /* background-color: red; */
}

.footer_row5_btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 20px auto;
}

.footer_row5_btns_txt {
    text-align: left;
}

.footer_row5_btns_txt > h1 {
    font-size: large;
}

.footer_row5_btns_txt > p {
    font-size: medium;
}

.footer_row5_btns_btn1 {
    display: flex;
    justify-content: space-evenly;
    border: thin white dotted;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    height: 45px;
}

.footer_row5_btns_btn2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: thin white dotted;
    padding: 10px;
    border-radius: 5px;
    height: 45px;
}

.footer_row5_btns_btn1_txt > span:nth-child(1) {
    font-size: x-small;
    text-align: left;
}

.footer_row5_btns_btn1_txt > span:nth-child(2) {
    font-size: x-large;
    text-align: left;
    margin-top: -10px;
}

.footer_row5_btns_btn2_txt > span:nth-child(1) {
    font-size: x-small;
    text-align: left;
}

.footer_row5_btns_btn2_txt > span:nth-child(2) {
    font-size: x-large;
    text-align: left;
    margin-top: -10px;
}
